.app {
  background-color: rgba(45,45,45,0.98);
  min-height: 100vh;
}

/* Navigation */
.navigation-bar{
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu-text{
  color: white; 
  font-size: calc(6vmin);
}
.menu-icon{
  margin-left: 10px;
}

/* Splash Screen CSS */

.splash-screen-text{
  position: absolute;
}
.white{
  color: white;
}

/* Animations */

.fade-in-up {
  -webkit-animation: fadeinup 2s ease-in forwards;
  animation: fadeinup 2s ease-in forwards;
}
@-webkit-keyframes fadeinup {
  0% { 
    opacity: 0;
    font-size: 3.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  50% { 
    opacity: 1;
    font-size: 3.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  100% {
    opacity: 1;
    font-size: 1.75em;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@keyframes fadeinup {
  0% { 
    opacity: 0;
    font-size: 3.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  50% { 
    opacity: 1;
    font-size: 3.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  100% {
    opacity: 1;
    font-size: 1.75em;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.fade-in {
  -webkit-animation: fadein 2s ease-in forwards;
  animation: fadein 2s ease-in forwards;
}
@-webkit-keyframes fadein {
  0%, 50% { 
    opacity: 0; 
  }
  100% { 
    opacity: 1;
  }
}
@keyframes fadein {
  0%, 50% { 
    opacity: 0; 
  }
  100% { 
    opacity: 1;
  }
}

.fade-in-out {
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  -webkit-animation: fadeinout 2s ease-in forwards;
  animation: fadeinout 2s ease-in forwards;
}
@-webkit-keyframes fadeinout {
  0%, 100% { 
    opacity: 0; 
  }
  50% { 
    opacity: 1;
  }
}
@keyframes fadeinout {
  0%, 100% { 
    opacity: 0; 
  }
  50% { 
    opacity: 1;
  }
}

.fade-in-menu {
  -webkit-animation: fadeinmenu 6s ease-in forwards;
  animation: fadeinmenu 6s ease-in forwards;
}
@-webkit-keyframes fadeinmenu {
  0% { 
    opacity: 0; 
  }
  66% { 
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeinmenu {
  0% { 
    opacity: 0; 
  }
  66% { 
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
