.app {
  background-color: rgba(45,45,45,0.98);
  min-height: 100vh;
}

/* Navigation */
.navigation-bar{
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;

  -webkit-animation: fadeinnavbar 6s ease-in forwards; /*change to 6s*/
  animation: fadeinnavbar 6s ease-in forwards;
}
#menu{
  position: fixed;
  left: 0;
  top: 48px;
  background-color: white;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100vw);
}

.menu-close{
  margin-top: 10px !important;
  margin-right: 10px !important;
  float: right;
}

/* Splash Screen CSS */

.splash-screen-text{
  position: fixed;
}
.white{
  color: white;
}

/* Animations */
#menu.visible{
  -webkit-animation: slidein .25s ease-in forwards;
  animation: slidein .25s ease-in forwards;
  
}
@keyframes slidein {
  0%{
    transform: translateX(-100vw);
  }
  100%{
    transform: translateX(0);
  }
}
@-webkit-keyframes slidein {
  0%{
    transform: translateX(-100vw);
  }
  100%{
    transform: translateX(0);
  }
}
#menu.hidden{
  -webkit-animation: slideout .25s ease-in forwards;
  animation: slideout .25s ease-in forwards;
}
@-webkit-keyframes slideout {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100vw);
  }
}
@keyframes slideout {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100vw);
  }
}

.fade-in-up {
  -webkit-animation: fadeinup 2s ease-in forwards;
  animation: fadeinup 2s ease-in forwards;
}
@-webkit-keyframes fadeinup {
  0% { 
    opacity: 0;
    font-size: 3.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  50% { 
    opacity: 1;
    font-size: 3.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  100% {
    opacity: 1;
    font-size: 1.75em;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@keyframes fadeinup {
  0% { 
    opacity: 0;
    font-size: 3.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  50% { 
    opacity: 1;
    font-size: 3.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  100% {
    opacity: 1;
    font-size: 1.75em;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.fade-in {
  -webkit-animation: fadein 2s ease-in forwards;
  animation: fadein 2s ease-in forwards;
}
@-webkit-keyframes fadein {
  0%, 50% { 
    opacity: 0; 
  }
  100% { 
    opacity: 1;
  }
}
@keyframes fadein {
  0%, 50% { 
    opacity: 0; 
  }
  100% { 
    opacity: 1;
  }
}

.fade-in-out {
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  -webkit-animation: fadeinout 2s ease-in forwards;
  animation: fadeinout 2s ease-in forwards;
}
@-webkit-keyframes fadeinout {
  0%, 100% { 
    opacity: 0; 
  }
  50% { 
    opacity: 1;
  }
}
@keyframes fadeinout {
  0%, 100% { 
    opacity: 0; 
  }
  50% { 
    opacity: 1;
  }
}

@-webkit-keyframes fadeinnavbar {
  0% { 
    opacity: 0; 
  }
  66% { 
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeinnavbar  {
  0% { 
    opacity: 0; 
  }
  66% { 
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
